body {
  margin: 10px;
  padding: 10px;
  font-family:Verdana, Geneva, Tahoma, sans-serif
  background-color: #f8f8f8;
  padding-top: 50px;
  margin-left: 350px;
}

.travel-card {
  width: 80%;
  max-width: 600px;
  height: 300px;
  margin: auto;
  border-radius: 20px;
  background-image: url('https://images.unsplash.com/photo-1507525428034-b723cf961d3e');
  background-size: cover;
  background-position: center;
  position: relative;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
}

.overlay {
  background: rgba(0, 0, 0, 0.4); /* dark overlay */
  color: white;
  padding: 30px;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 20px;
  text-align: center;
}

.overlay h2 {
  font-size: 28px;
  margin-top: 40px;
  margin-bottom: 10px;
}
body {
  margin: 0;
  padding: 0;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  background-color: #f8f8f8;
  padding-top: 50px;
}

.travel-card {
  width: 600px;
  height: 300px;
  border-radius: 20px;
  background-image: url('https://images.unsplash.com/photo-1507525428034-b723cf961d3e');
  background-size: cover;       
  background-position: center;
  position: relative;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
 
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  color: white;
  padding: 30px;
  box-sizing: border-box;
  border-radius: 20px;
  text-align: center;
}

.overlay h2 {
  margin-top: 30px;
  font-size: 28px;
  margin-bottom: 10px;
}

.overlay p {
  font-size: 14px;
  margin-bottom: 20px;
}

.overlay button {
  padding: 10px 25px;
  font-family: Georgia, 'Times New Roman', Times, serif;
  
  border-radius: 20px;
  background-color: white;
  color: black;
 
}


